<h1><a href="/">Депозитний калькулятор</a></h1>
<hr>

<form action="/" method="POST">

  <p class='form-block-header'>Основні дані</p>
  <div class="form-block">
    <div class="form-group">
      <label for="currency">Валюта</label>
      <select name="currency" class="form-control" id="exampleFormControlSelect1" required>
        <% settings.currencies.each do |currency| %>
          <option value="<%= currency[:code] %>"><%= currency[:title] %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="deposit">Сума внеску</label>
      <input name='deposit' type="number" class="form-control" id="deposit" placeholder="Сума внеску" value='1000.00' required step=0.01>
    </div>

    <div class="form-group">
      <label for="annual_rate">Річна ставка</label>
      <input name='annual_rate' type="number" class="form-control" id="annual_rate" placeholder="Річна ставка" value='10.00' required step=0.01>
    </div>

    <div class="form-group">
      <label for="date">Дата внеску</label>
      <input name='date' type="date" class="form-control" id="date" value="<%= Date.today %>" required>
    </div>

    <div class="form-group">
      <label for="date">Строк внеску</label>
      <select name='period_type' class="form-control" id="period_type" required>
        <option value="years">років</option>
        <option value="months">місяців</option>
      </select>
      <input name='period_value' type="number" class="form-control" id="period_value" value='1' required step=1>
    </div>
  </div>

  <p class='form-block-header'>Капіталізація</p>
  <div class="form-block">
    <div class="form-group">
      <label for="capitalisation">Капіталізація</label>
      <select name='capitalisation' class="form-control" id="capitalisation">
        <% settings.time_ranges.each_with_index do |time_range| %>
          <option value="<%= time_range[:code] %>"><%= time_range[:title] %></option>
        <% end %>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Розрахувати</button>
</form>
<small>* При розрахунку процентної ставки передбачається, що у році 365 днів</small>
<hr>

<% if @data %>
  <%= erb :data_table, :locals => { data: @data, total_days: @total_days, total_income: @total_income } %>

  <table class="table table-bordered" style="width: 50%;">
    <thead>
      <tr>
        <th>Значення</th>
        <th><%= settings.currencies.detect{ |cur| cur[:code] == @currency }[:title] %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Сума до повернення</td>
        <td><%= @deposit %></td>
      </tr>
      <tr>
        <td>Сума % по вкладу</td>
        <td><%= (@total_income - @deposit).round(2) %></td>
      </tr>
      <tr>
        <td>Разом</td>
        <td><%= @total_income.round(2) %></td>
      </tr>
    </tbody>
  </table>

<% end %>
